{% extends "index.html" %}
{% block contenidoQueCambia %}

<style>
    label,input,textarea{
        width: 100%;
    }

</style>

<div class="container">

    <form action="/ingresoPagina" method="POST">
        <label>Titulo</label>
        <input type="text" name="titulo"/>
        <label>Subtitulo</label>
        <input type="text" name="subtitulo"/>
        <label>Imagen</label>
        <input type="text" name="imagen"/>
        <label>Cuerpo</label>
        <textarea name="cuerpo" rows="10"></textarea>
        {% csrf_token %}
        <button type="submit">Guardar página</button>
    </form>

</div>




{% endblock %}